<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex-Timeline! A01262284</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>
            Jose Alfonso Clarito - Pokedex!
        </h1>
    </header>

    <!-- Navbar -->
    <nav>
        <a class="navlink-container" id="home" href="../index.html">
            <span class="navlink">Home</span>
        </a>
        <a class="navlink-container" id="search" href="../search.html">
            <span class="navlink">Search</span>
        </a>
        <a class="navlink-container" id="timeline" href="#">
            <span class="navlink">Timeline</span>
        </a>
    </nav>
    
    <!-- Footer -->
    <footer>
        <h5>
            Copyright © FonseLULW; API from 
            <a href="https://pokeapi.co/">pokeapi.co</a>
        </h5>
    </footer>
</body>
</html>