@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

#timeline-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.single-event {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    padding: 0.5rem;
}

.single-event:nth-child(odd){
    background-color: rgb(197, 197, 197);
}

.event-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 1.425rem;
    font-weight: 520;
    font-family: 'Cutive Mono', monospace;
}

.event-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
    width: 25%;
}

button {
    width: fit-content;
    font-size: 2rem;
}

.datetime {
    width: 20%;
}

.text {
    width: 50%;
}

.hits {
    width: 20%;
}

@media screen and (max-width: 950px) {
    .single-event {
        flex-direction: column;
    }
    .event-data, .event-controls {
        width: 100%;
        justify-content: center;
    }
    .datetime, .hits {
        font-size: smaller;
    }
}