body {
    grid-template-rows: 8vh 8vh 8vh auto 8vh;
    grid-template-columns: 80% 20%;
}

header {
    grid-column: 1 / span 2;
}

nav {
    grid-column: 1 / span 2;
}

section {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(204, 204, 204);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

main {
    grid-column: 1 / span 1;
}

aside {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    display: flex;
    flex-direction: column;
    height:min-content;
    background-color: #cdcdcd;
}

footer {
    grid-column: 1 / span 2;
}

/* Search bar section */

h3 {
    flex-basis: 20%;
    color: rgb(37, 37, 37);
    text-align: right;
    padding-right: 1.5%;
    margin: auto;
    font-size: 25px;
    font-family:'Franklin Gothic Medium';
}

section>div {
    flex-basis: 20%;
}

section>input {
    flex-basis: 60%;
    border: none;
    font-family:'Trebuchet MS';
    font-size: 2em;
    color: rgb(18, 18, 60);
}

section>button {
    flex-basis: 20%;
    
}

/* Dropdown */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#searchbyDropdown button {
    text-align: left;   
}

#searchbyCurrent {
    height: 100%;
}

.dropdown:hover .dropdown-content {display: block;}

/* Pokemon grid */
#pokemon-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* History Tab */
h4 {
    margin: 0px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
    font-size: 25px;
    background-color: #b1b1b1;
}

.pokeHistory {
    height: 75px;
    display: grid;
    grid-template-columns: 25% 70% 5%;
    align-items: center;
}

.pokeHistory:hover {
    background-color: whitesmoke;
    transition: ease-in;
    transition: 1s;
}

.pokeHistory:active {
    background-color: #b1b1b1;
    transition: none;
}

#clear {
    font-size: small;
}

.hTitle {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    font-family: Impact;
    font-size: 24px;
    justify-self: center;
}

.hCateg {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-family: monospace;
    font-size: 18px;
}

.hVal {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hDel {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
    background-color: rgb(171, 0, 0);
    border-color:rgb(134, 37, 37);
    /* border: none; */
}

.hDel:hover {
    background-color: rgb(211, 2, 2);
}

/* @media screen and (max-width: 950px) {
    body {
        grid-template-columns: 100vw;
        grid-row: 8vh 8vh 30vh auto auto 8vh;
    }

    section {
        flex-direction: column;
    }
} */
